<md-radio-group ng-model="ui.intervalType">
    <md-radio-button value="daily" aria-label="Daily">
        Daily
    </md-radio-button>
    <md-radio-button value="weekly" aria-label="Weekly">
        Weekly
    </md-radio-button>
    <md-radio-button value="monthly" aria-label="Monthly">
        Monthly
    </md-radio-button>
    <md-radio-button value="custom" aria-label="Certain Days">
        Certain Days
    </md-radio-button>
</md-radio-group>
<div layout="row" layout-wrap flex-offset="10" ng-if="ui.intervalType == 'custom'">
    <md-checkbox ng-model="ui.days.Mo" aria-label="Monday" flex="20">
        Monday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Tu" aria-label="Tuesday" flex="20">
        Tuesday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.We" aria-label="Wednesday" flex="20">
        Wednesday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Th" aria-label="Thursday" flex="20">
        Thursday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Fr" aria-label="Friday" flex="20">
        Friday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Sa" aria-label="Saturday" flex="20">
        Saturday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Su" aria-label="Sunday" flex="20">
        Sunday
    </md-checkbox>
</div>