<md-radio-group ng-model="ui.intervalType" layout="row">
    <md-radio-button value="custom" aria-label="Certain Days" flex="20">
        Certain Days
    </md-radio-button>
    <md-radio-button value="daily" aria-label="Daily" flex="20">
        Daily
    </md-radio-button>
    <md-radio-button value="weekly" aria-label="Weekly" flex="20">
        Weekly
    </md-radio-button>
    <md-radio-button value="monthly" aria-label="Monthly" flex="20">
        Monthly
    </md-radio-button>
</md-radio-group>
<div layout="row" layout-wrap flex-offset="5">
    <md-checkbox ng-model="ui.days.Mo" aria-label="Monday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Monday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Tu" aria-label="Tuesday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Tuesday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.We" aria-label="Wednesday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Wednesday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Th" aria-label="Thursday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Thursday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Fr" aria-label="Friday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Friday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Sa" aria-label="Saturday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Saturday
    </md-checkbox>
    <md-checkbox ng-model="ui.days.Su" aria-label="Sunday" flex="20"
        ng-disabled="ui.intervalType !== 'custom'">
        Sunday
    </md-checkbox>
</div>