<md-dialog aria-label="Add Task" flex="80">
<form name="taskForm" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="!ctrl.isEditing">Add Task</h2>
            <h2 ng-if="ctrl.isEditing">Edit Task</h2>
            <span class="flex"></span>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding>
        <md-input-container>
            <label>Task Name</label>
            <input ng-model="ctrl.task.title" 
                name="title" md-autofocus required>
            <div ng-messages="taskForm.title.$error"
                ng-if="taskForm.title.$touched">
                <div ng-message="required">This field is required</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Task Description</label>
            <textarea ng-model="ctrl.task.description" 
                name="description" required></textarea>
            <div ng-messages="taskForm.description.$error"
                ng-if="taskForm.description.$touched">
                <div ng-message="required">This field is required</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Points</label>
            <input type="number" ng-model="ctrl.task.points" required>
            <div ng-messages="taskForm.title.$error"
                ng-if="taskForm.title.$touched">
                <div ng-message="required">This field is required</div>
                <div ng-message="number">This is not a valid number</div>
            </div>
        </md-input-container>
        <fieldset class="standard">
            <legend>Default Interval</legend>
            <task-interval ng-model="ctrl.task.defaultInterval"></task-interval>
        </fieldset>
    </md-dialog-content>
    <md-dialog-actions class="md-actions" layout="row">
        <md-button ng-click="dlg.answer(ctrl.task)"
            ng-disabled="taskForm.$invalid">
            OK
        </md-button>
        <md-button ng-click="dlg.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>