body {
    font-family: 'Exo 2';
}

h1, h2, h3, h4, h5 {
    font-family: 'Audiowide';
}

.md-toolbar-tools {
    h1 {
        font-size: 42px;
        font-weight: inherit;
        margin: inherit;
    }  
    md-icon {
        height: 42px;
        width: 42px;
    }

    [gravatar-src] {
        border-radius: 50%;
        vertical-align: middle;
    }

    .user-name {
        text-align: right;
    }
} 

md-sidenav.md-locked-open {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

md-dialog {
    color: white;

    button.md-default-theme.md-primary:not([disabled]) {
        color: white !important;
    }
}

md-input-container label {
    color: transparentize(white, 0.5);
}

.md-button.md-fab.md-fab-top-right {
    top: 4px;
    right: 4px;
}

md-list-item {
    md-icon.md-secondary:nth-of-type(2) {
        right: 56px;
    }
}